
Temp/
Logs/
Library/
UserSettings/
ProjectSettings/
Assembly-CSharp.csproj
ShotgunBlast.sln
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache

Temp\
Logs\
Library\
UserSettings\
ProjectSettings\
Assembly-CSharp.csproj
ShotgunBlast.sln
obj\Debug\Assembly-CSharp.csproj.AssemblyReference.cache