
Temp/
Logs/
Library/
Library/Artifacts/
Library/Bee/
Library/BurstCache/JIT/
Library/PackageCache/
Library/ShaderCache/
Library/ScriptAssemblies/
UserSettings
Assembly-CSharp.csproj
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache

Temp\
Logs\
Library\
Library\Artifacts\
Library\Bee\
Library\BurstCache\JIT\
Library\PackageCache\
Library\ShaderCache\
Library\ScriptAssemblies\
UserSettings
Assembly-CSharp.csproj
obj\Debug\Assembly-CSharp.csproj.AssemblyReference.cache
